<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Your tasks</title>
</head>
<body>

<p> Hello {{ user.username }}! <a href="/logout">logout</a> </p>

{% for tasklist in tasklists %}
<h4>{{tasklist.name}} <a href="/tasklist/edit/form/{{tasklist.id}}">edit</a></h4>
<ul id="tasklist">
    {% for task in tasklist.get_tasks() %}
        <li>{{ task.id }}. {{ task.name }} <a href="/task/edit/form/{{task.id}}">edit</a> <a href="/task/delete/{{ task.id }}">delete</a> </li>
    {% endfor %}
</ul>
<a href="/task/add/form/{{tasklist.id}}">+ add task</a>
{% endfor %}
<br>
<br>
<a href="/tasklist/add/form">+ ADD TASKLIST</a>


</body>
</html>